# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env
.env.local
.env.*.local

# Native
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
GoogleService-Info.plist

# Metro
.metro-health-check*

# macOS
.DS_Store
